<main class="default-transition">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- Main Content Area -->
            <div class="col-md-9">
                <div class="form-side p-3 w-100" style="max-height: 90vh; overflow: auto;">
                    <h5 class="mb-4">All Employees</h5>

                    <div class="table-responsive">
                        <table class="table-striped table-bordered table">
                            <thead>
                                <tr>
                                    <th scope="col">Employee Name</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">UserName</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in Model)
                                {
                                    <tr>
                                        <td>@employee.NameOfUser</td>
                                        <td>@employee.Department</td>
                                        <td>@employee.UserName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
